{% extends 'base.html' %}

{% block head %}
<title>Ivy Rooster</title>
{% endblock %}

{% block body %}
<h1> Medewerkers </h1>



{% if staffs|length < 1 %}

    <h4>Er zijn nog geen medewerkers in het systeem. Voeg er hieronder een toe.</h4>

{% else %}
    <table style="width: 50em;">
        <tr>
            <th>Naam</th>
            <th>Min. werkuren</th>
            <th>Max. werkuren</th>
            <th>Acties</th>
        </tr>
        {% for staff in staffs %}
            <tr>
                <td>{{ staff.person.name }}</td>
                <td>{{ staff.min_hours }}</td>
                <td>{{ staff.max_hours }}</td>
                <td>
                    <a href="delete/{{ staff.person_id }}">Verwijderen</a>
                    <br>
                    <a href="update/{{ staff.person_id }}">Aanpassen</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endif %}

<h2>Medewerker toevoegen</h2>

<form action="/staffs/add" method="POST" style="width:50em;text-align: center;">
    <label for="staff_name">Naam medewerker:</label><br>
    <input type="text" name="staff_name" id="staff_name" value="Nieuwe medewerker" style="width: 50%;"><br>
    <input type="text" name="min_hours" id="min_hours" value="0" style="width: 50%;"><br>
    <input type="text" name="max_hours" id="max_hours" value="0" style="width: 50%;"><br>
    <input type="submit" value="Toevoegen">
</form>
{% endblock %}