{% extends 'base.html' %}

{% block head %}
<title>Ivy Rooster</title>
{% endblock %}

{% block body %}
<h1> Rooster maken </h1>



{% if doles|length < 1 %}

    <h4>Er zijn geen dagdelen in het systeem. Voeg er <a href="/doles">hier</a> een toe.</h4>

{% else %}
<form action="/rooster" method="POST">
    <input type="submit" value="Genereer Rooster!">
</form>

<form action="/presence/update" method="POST">
    <table style="width: 50em;">
        <tr>
            <th></th>
            <th>Uren</th>
            {% for dole in doles %}
            <th>{{  dole.name }}</th>
            {% endfor %}
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{ client.person.name }}</td>
                <td>{{ client.person.present_sum }} ≤ {{ client.hours }} ≤ {{ week_hours - client.person.absent_sum }}</td>
                {% for dole in doles %}
                <td>
                    <div class="cell">
                        <div class="checkboxContainer">
                            <input class="ternaryBox" type="checkbox" id="presence_{{ client.person.id }}_{{ dole.id }}" name="presence_{{ client.person.id }}_{{ dole.id }}"{% if dole.id in rooster[client.person_id] %} checked="checked"{% endif %}>
                            <label for="presence_{{ client.person.id }}_{{ dole.id }}">Kies</label>
                        </div>
                        <br>
                        <div class="radioContainer">
                            <input type="radio" id="absent_{{ client.person.id }}_{{ dole.id }}" name="{{ client.person.id }}_{{ dole.id }}" value="0"{% if
                                (dole.id in rooster[client.person_id]) and (rooster[client.person_id][dole.id] == 0) %} checked="checked"
                                {% endif %}>
                            <label for="absent_{{ client.person.id }}_{{ dole.id }}">Afwezig</label>
                            <br>
                            <input type="radio" id="group_{{ client.person.id }}_{{ dole.id }}" name="{{ client.person.id }}_{{ dole.id }}" value="1"{% if
                                (dole.id in rooster[client.person_id]) and (rooster[client.person_id][dole.id] == 1) %} checked="checked"
                                {% endif %}>
                            <label for="group_{{ client.person.id }}_{{ dole.id }}">Groep</label>
                            <br>
                            <input type="radio" id="ib_{{ client.person.id }}_{{ dole.id }}" name="{{ client.person.id }}_{{ dole.id }}" value="2"{% if
                                (dole.id in rooster[client.person_id]) and (rooster[client.person_id][dole.id] == 2) %} checked="checked"
                                {% endif %}>
                            <label for="ib_{{ client.person.id }}_{{ dole.id }}">IB</label>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th>Uren</th>
            {% for dole in doles %}
            <th>{{  dole.name }}</th>
            {% endfor %}
        </tr>
        {% for staff in staffs %}
            <tr>
                <td>{{ staff.person.name }}</td>
                <td>{{ staff.min_hours }} ≤ {{ week_hours - staff.person.absent_sum }}, {{ staff.person.present_sum }} ≤ {{ staff.max_hours }}</td>
                {% for dole in doles %}
                <td>
                    <div class="cell">
                        <div class="checkboxContainer">
                            <input class="ternaryBox" type="checkbox" id="presence_{{ staff.person.id }}_{{ dole.id }}" name="presence_{{ staff.person.id }}_{{ dole.id }}"{% if dole.id in rooster[staff.person_id] %} checked="checked"{% endif %}>
                            <label for="presence_{{ staff.person.id }}_{{ dole.id }}">Aanwezig</label>
                        </div>
                        <br>
                        <div class="radioContainer">
                            <input type="radio" id="absent_{{ staff.person.id }}_{{ dole.id }}" name="{{ staff.person.id }}_{{ dole.id }}" value="0"{% if
                                (dole.id in rooster[staff.person_id]) and (rooster[staff.person_id][dole.id] == 0) %} checked="checked"
                                {% endif %}>
                            <label for="absent_{{ staff.person.id }}_{{ dole.id }}">Afwezig</label>
                            <br>
                            <input type="radio" id="group_{{ staff.person.id }}_{{ dole.id }}" name="{{ staff.person.id }}_{{ dole.id }}" value="1"{% if
                                (dole.id in rooster[staff.person_id]) and (rooster[staff.person_id][dole.id] == 1) %} checked="checked"
                                {% endif %}>
                            <label for="group_{{ staff.person.id }}_{{ dole.id }}">Groep</label>
                            <br>
                            <input type="radio" id="ib_{{ staff.person.id }}_{{ dole.id }}" name="{{ staff.person.id }}_{{ dole.id }}" value="2"{% if
                                (dole.id in rooster[staff.person_id]) and (rooster[staff.person_id][dole.id] == 2) %} checked="checked"
                                {% endif %}>
                            <label for="ib_{{ staff.person.id }}_{{ dole.id }}">IB</label>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<input type="submit" value="Opslaan">
</form>

<script>
    (function(){
    
        document.querySelectorAll('input[class=ternaryBox]:checked').forEach(c => {
            c.parentNode.parentNode.querySelector(".radioContainer").classList.add("opened");
        });

        var checkboxes = document.getElementsByClassName('ternaryBox');
        for (var i = 0; i < checkboxes.length; i++) {        
            checkboxes[i].addEventListener('change', (event) => {
                var checkbox = event.target;
                var radioContainer = checkbox.parentNode.parentNode.querySelector(".radioContainer");
                console.log(radioContainer);
    
                if (checkbox.checked) radioContainer.classList.add("opened");
                else                  radioContainer.classList.remove("opened");
            });
        }
    
    })();
          
    </script>
{% endif %}

{% endblock %}