{% extends 'base.html' %}

{% block head %}
<title>Medewerkers</title>
{% endblock %}

{% block body %}
<h1>Medewerker aanpassen</h1>

<form action="/staffs/update/{{ staff.person_id }}" method="POST" style="width:50em;text-align: center;">
    <label for="staff_name">Naam:</label><br>
    <input type="text" name="staff_name" id="staff_name" value="{{ staff.person.name }}" style="width: 50%;"><br>
    <label for="min_hours">Min. werkuren:</label><br>
    <input type="text" name="min_hours" id="min_hours" value="{{ staff.min_hours }}" style="width: 50%;"><br>
    <label for="max_hours">Max. werkuren:</label><br>
    <input type="text" name="max_hours" id="max_hours" value="{{ staff.max_hours }}" style="width: 50%;"><br>
    <input type="submit" value="Aanpassen">
</form>
{% endblock %}